* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
}

p {
    color: grey;
}


/*--------------header section---------*/
.header{
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    z-index: 1;
}

.search{
    padding: 1rem 2rem;
    display:grid;
    grid-template-columns: 2rem 1fr;
}

.search input{
    border-radius: 16px;
    background-color: rgb(230, 230, 230);
    border-style: none;
}

.notification{
    padding: 1rem 2rem;
}

.user-info{
    padding: 1rem 2rem;
}

.greeting{
    font-size: .5rem;
}

.user-name{
    font-size: 1.5rem;
}

.user-controls{
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    gap:5%;
    padding:5%;
}

.header button{
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    background-color: rgba(47, 122, 214, 0.862);
    border-style: none;
    color:white;
}


/*--------------siderbar section------------ */
.sidebar{
    padding: 2rem;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 3rem 13rem 7rem;
    gap: 2rem;
    background-color: rgba(47, 122, 214, 0.862);
    color:white;
    font-weight: bold;

}

.sidebar-title{
    
    display:grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.sidebar h2{
    font-size: 1.5rem;
}

.sidebar li{
    padding: 0.5rem;
    display:grid;
    grid-template-columns: 2rem auto;
    align-items: center;
}

.sidebar img{
  
}

/* ------------main content section----------*/

.content{
    display:grid; 
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(243, 243, 243);
    padding: 2rem 1rem;
    gap: 2rem;
}

.projects{
    grid-row: 1/-1;
}

.projects h2{
    margin-bottom: 2rem;
}

.projects-body{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    
}

.card{
    height: 250px;
    
    border-left: 8px orange solid;
    border-radius: 8px;
    background-color: white;
    padding:32px 16px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);;
}

.card p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/*-------announcement section----------  */


.announcements > h2{
   margin-bottom: 2rem;
}
.announcements-content{
    padding: 10%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.announcements p{
    padding-top: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.announcements hr{
    margin: 16px 0;
    color: rgba(207, 201, 201, 0.896);
}


/*----trending section--------  */
.trending{
    grid-column: 2/3;
}

.trending > h2{
    margin-bottom: 1rem;
}

.trending-body{
    
    display:grid;
    gap:0.5rem;
    padding: 10%;
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);;
}

.trending-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
   
}

.trending-item-info{
    grid-column: 2/3;
}

.trending h3{
    font-size: 1rem;
    font-weight: normal;
}

.trending-item img{
    height:3rem;
}