* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
}


/*--------------header section---------*/
.header{
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.search{
    padding: 1rem 2rem;
}

.notification{
    padding: 1rem 2rem;
}

.user-info{
    padding: 1rem 2rem;
}

.greeting{
    font-size: .5rem;
}

.user-name{
    font-size: 1.5rem;
}

.user-controls{
    padding: 1rem 2rem;
}

.header button{
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    margin: 0 0.5rem;
}


/*--------------siderbar section------------ */
.sidebar{
    padding: 10%;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    align-self: start;
    gap: 2rem;
    background-color: rgba(47, 122, 214, 0.862);
    color:white;
    font-weight: bold;
}

.sidebar-title{
    font-size: 1.5rem;
}

.sidebar li{
    padding: 0.5rem;
}

/* ------------main content section----------*/

.content{
    display:grid; 
    grid-template-columns: 3fr 1fr;
}

.projects{

}

.projects-body{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5%;
    padding:32px;
}

.card{
    height: 200px;
}


/*-------announcement section----------  */
.announcements{
   
}
.announcements-content{
    padding:32px;
}

.announcements hr{
    margin: 16px 0;
}


/*----trending section--------  */
.trending{
    grid-column: 2/3;
}

.trending-body{
    padding:32px;
    display:grid;
    gap:0.5rem;
}